@font-face {
    font-family: "Mapolicetitre";
    src: url(assets/fonte/) format(woff2);
}
html{
    height: 100%;
}
body{
    height: 700px;
    background-color: #fbf230;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f477dc;
    border-radius: 15px 15px 15px 15px;
    width: 800px;
    height: 600px;
}
.txt{
    font-family:'Glory', sans-serif;
    margin: 10px 10px 10px 10px;
}
.chapter{
    font-family: 'Glory',sans-serif;
    font-weight: bold;
    font-size: 30px;
}
h1{
    font-family: 'Mapolicetitre',sans-serif;
}

img{
    height: 300px;
    width: 500px;
}

.barre{
    display: flex;
    align-self: stretch;
    justify-content: space-around;

    
}
button{
background-color: #28caef;
font-family: 'Glory',sans-serif;
}